<div class="container">
    <div id="header">
      <div id="brand" class="row">
          <div class="twelve columns">
            <img src="{{ .Site.BaseURL }}/images/naoimporta-min.png" />
          </div>
      </div>

        <div class="row">
            <div class="twelve columns">
                <nav >
                    <ul id="navbar">
                        {{ $currentNode := . }}
                        {{ range .Site.Menus.main }}
                            <li {{if $currentNode.IsMenuCurrent "main" . }}class="current"{{ end }}>
                                <a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
