{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <article class="post-list">
        <div class="row">
            <div class="twelve columns">
                <h1>Lista de menções</h1>
            </div>
        </div>

        <div class="article-list">
        {{ range .Data.Pages.GroupByParam "author" }}
        <div class="article-list-group">
          <h2 class="article-list-grouper">{{ .Key }}</h2>
          {{ range .Pages }}
            <div class="row article-list-item">
                <div class="ten columns">
                    <a href="{{.Permalink}}">{{ .Content | truncate 100 }}...</a>
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
        </div>
    </article>
</div>

{{ partial "footer.html" . }}
